@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&subset=latin-ext');

* {
    font-family: 'Poppins', sans-serif;
}

/* Cookies accept box */
#cookiesEU-box {
    margin-bottom: 30px;
}

.cookiesEU-inner {
    padding: 20px !important;
    background: #e5e5e5;
}
/* /Cookies accept box */

.a-no-font {
    font-size: 0;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

header {
    height: 150px;
    margin-bottom: 30px;
}

header #logo-nav {
    width: calc(100% - 110px);
    float: right;
}

#header-gradient {
    width: 15px;
    height: 100%;
    float: left;
    margin-right: 90px;

    background: #fc5c7d; 
    background: -moz-linear-gradient(top, #fc5c7d 0%, #7c7deb 50%, #b76eb9 100%); 
    background: -webkit-linear-gradient(top, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%);
    background: linear-gradient(to bottom, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5c7d', endColorstr='#b76eb9',GradientType=0 );
}

@media (max-width: 992px) {
    #header-gradient {
        margin-right: 30px;
    }

    header #logo-nav {
        width: calc(100% - 50px);
    }
}

@media (max-width: 768px) {
    #header-gradient {
        margin-right: 0;
    }

    header #logo-nav {
        width: calc(100% - 20px);
        height: 100%;
        position: relative;
    }

    header #logo {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

header #logo {
    display: block;
    width: 200px;
    padding: 25px;
    float: left;
}

header nav {
    float: right;
    top: 30px;
    padding: 0px 100px 8px 0;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
}

@media (max-width: 992px) {
    #categories {
        display: none;
    }

    header #logo {
        padding: 25px 25px 0 25px;
    }
}

@media (max-width: 768px) {
    header nav {
        float: right;
        border: 0;
        padding: 0;
        margin: 0 50px 0 0;
        display: block;
        position: absolute;
        right: 0;
    }

    header nav ul {
        padding: 0;
        margin: 0;
    }

    header ul li.text-hide {
        display: none;
    }

    #head-form {
        display: none;
    }
}

.head-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -6px;
    margin-right: -18px;
}

.head-fb {
    background: url("../img/menu_social_fb.svg") no-repeat;
}

.head-fb:hover,
.head-fb:focus {
    background-image: url("../img/menu_social_fb_h.svg");
}

.head-ig {
    background: url("../img/menu_social_insta.svg") no-repeat;
}

.head-ig:hover,
.head-ig:focus {
    background-image: url("../img/menu_social_insta_h.svg");
}

.head-search {
    background: url("../img/icon_search.svg") no-repeat;
    margin-left: 5px;
}

.head-search:hover,
.head-search:focus,
.head-search.active {
    background-image: url("../img/icon_search_active.svg");
}

#head-form {
    margin: 0 0 0 20px;
}

.sb-search-input {
    border: 0;
    border-bottom: 1px solid #d0d0d0;
    background: transparent;
    margin: 0;
    padding: 0;
    display: none;
    height: 90%;
    font-size: 10px;
    width: 200px;
    color: #6a82fb;
}

.sb-search-input:focus {
    outline-width: 0;
}

header ul li,
header ul {
    display: inline-block;
    list-style: none;
}

header ul li a,
#categories ul li a {
    text-transform: uppercase;
    color: #d0d0d0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding: 0 10px;
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: none;
    color: #828282;
}

#categories {
    clear: both;
    padding: 0;
    margin: 40px 0 0 16px;
}

#categories ul {
    padding: 0;
    list-style: none;
}

#categories ul li {
    display: inline-block;
}

#categories ul li a {
    font-size: 14px;
    color: #3e3e3e;
    display: inline-block;
    text-decoration: none !important;
    height: 23px;
    vertical-align: middle;
    padding: 0;
    margin: 0 10px 0 0;
    position: relative;
    overflow: hidden;
}

#categories ul li a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fc5c7d; 
    background: -moz-linear-gradient(left, #fc5c7d 0%, #7c7deb 50%, #b76eb9 100%);
    background: -webkit-linear-gradient(left, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    background: linear-gradient(to right, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5c7d', endColorstr='#b76eb9',GradientType=1 );
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#categories ul li a:hover:before,
#categories ul li a:focus:before {
    right: 50%;
}

#categories-mobile #categories {
    margin-bottom: 40px;
}

/* footer */
.footer-clip {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 10%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 100%);
    width: 50%;
    height: 50px;
    z-index: 10;
    position: absolute;
    margin-top: calc(50px * -0.1);
    background: white;
}

@media (max-width: 768px) {
    .footer-clip {
        display: none;
    }
}

footer {
    width: 100%;
    background: #36332c;
    margin-top: 60px;
}

footer .container {
    padding: 140px 0 20px 0;
}

footer,
footer p,
footer a {
    color: #686868;
}

footer .a-small {
    font-size: 9px;
    padding: 5px 15px;
    display: inline-block;
}

.cats-footer {
    list-style: none;
    text-transform: uppercase;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: #acacac !important;
}

footer a {
    color: #686868 !important;
}

.footer-a-important {
    font-size: 1.2em;
    color: #7b7b7b;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.footer-a-important.pull-top {
    margin-top: -20px;
}

.social-footer-wrapper {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.social-footer-wrapper .social {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 3px;
}

footer .copyright {
    text-align: center;
    padding: 50px 0 25px 0;
    margin: 0;
}

.logo-footer {
    margin-top: 60px;
}

a.footer-a-important.pull-top {
    margin-top: 50px;
}

.footer-map {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 120px 10px 25px;
    border-bottom: 2px solid;
    display: inline-block;
    margin: 0 0 20px 0;
}

@media (max-width: 992px) {
    .footer-map {
        padding-right: 90px;
    }
}

@media (max-width: 768px) {
    footer .copyright {
        padding-top: 30px;
    }

    .footer-a-important.pull-top {
        margin-top: 30px;
    }

    footer .container {
        padding-top: 60px;
    }

    .logo-footer {
        width: 200px;
        display: block;
        margin: 0 auto 30px auto;
    }

    .cats-footer {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        text-align: center;
        font-size: 0.8em;
        padding: 20px;
    }

    .footer-map {
        position: relative;
        margin-top: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        padding-right: 25px;
        font-size: 18px;
        margin-bottom: 0;
    }
}

.orange-end-gradient {
    width: 100%;
    height: 3px;
    background: #fc5c7d; 
    background: -moz-linear-gradient(left, #fc5c7d 0%, #7c7deb 50%, #b76eb9 100%);
    background: -webkit-linear-gradient(left, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    background: linear-gradient(to right, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5c7d', endColorstr='#b76eb9',GradientType=1 );
}

/* slider (hot) */
.slider {
    height: 500px;
    margin-bottom: 30px;
}

.slide {
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.slide .news-cats span {
    background: transparent;
    color: white;
}

.slide .date {
    position: absolute;
    bottom: -33px;
    padding-right: 10px;
    left: 8px;
}

.slide .date p {
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    float: left;
    color: white;
    font-size: 10px;
    border-bottom: 1px solid white;
    padding: 0px 20px 5px 20px;
}

.slide h3.title {
    font-size: 22px;
    width: 70%;
}

/* news recentagle */
.news-cats {
    margin: 10px 10px 0 10px;
    position: absolute;
}

.news-cats span {
    background: white;
    padding: 2px 10px 0 10px;
    border: 1px solid white;
    font-size: 12px;
    text-transform: uppercase;
    margin: 3px;
    color: black;
    display: inline-block;
}

.news {
    height: 300px;
    position: relative;
    margin-bottom: 30px;
}

.news .news-img-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.news-img-wrapper:hover .news-img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.news .news-img {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    z-index: -4;
    position: relative;
    -webkit-transition: transform 1.5s;
    -moz-transition: transform 1.5s;
    -ms-transition: transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
}

.news-500 {
    height: 500px;
}

.news .news-link {
    text-decoration: none;
    cursor: pointer;
}

.news .news-link .under-link-wrap {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px -100px 100px -20px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -100px 100px -20px rgba(0,0,0,0.5);
    box-shadow: inset 0px -100px 100px -20px rgba(0,0,0,0.5);
}

h3.title {
    display: block;
    position: absolute;
    width: calc(100% - 70px);
    bottom: 22px;
    left: 45px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

h3.title:before {
    position: absolute;
    z-index: 100;
    content: '';
    width: 90px;
    height: 1px;
    bottom: -15px;
    background: white;
}

.slide h3.title:before {
    display: none;
}

/* best of the week */
.week h2 {
    font-size: 14px;
    color: #3c3c3c;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0 0 0 20px;
}

.separator-week {
    background: #eae312;
    background: -moz-linear-gradient(left,  #eae312 0%, #a0e02a 100%);
    background: -webkit-linear-gradient(left,  #eae312 0%,#a0e02a 100%);
    background: linear-gradient(to right,  #eae312 0%,#a0e02a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae312', endColorstr='#a0e02a',GradientType=1 );
    width: 100%;
    height: 2px;
    margin: 20px 0 30px 0;
}

.week ul {
    padding: 0;
}

.week ul li {
    list-style: none;
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.week ul li .img {
    display: block;
    float: left;
    width: 150px;
    height: 84px;
    margin: 0 10px 0 20px;
    background-position: center center;
    background-size: cover;
}

.week h3 {
    padding: 0;
    margin: 0;
}

.week h3 {
    font-size: 12px;
    color: #7a7a7a;
    text-decoration: none;
    padding: 5px 0 15px 0;
    position: relative;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.week h3:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 15%;
    height: 1px;
    background: #c8c1c1;
    display: inline-block;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}

.week a:hover h3:before,
.week a:focus h3:before {
    width: 22%;
}

.week a:hover h3,
.week a:focus h3 {
    color: #333333;
}

.week a:hover,
.week a:focus {
    text-decoration: none;
}

/* section esport */
.section-v-gradient-header {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 40px 0 70px 0;
    padding-left: 30px;
}

@media (max-width: 768px) {
    .section-v-gradient-header {
        padding-left: 0;
    }
}

.section-v-gradient-header h2,
.gradient-blue-heading {
    margin: 0;
    display: inline;
    padding: 5px 30px;
    box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-size: 18px;
    color: white;
    font-weight: bold;

    background: #178dbb;
    background: -moz-linear-gradient(left,  #178dbb 0%, #57bdbf 100%);
    background: -webkit-linear-gradient(left,  #178dbb 0%,#57bdbf 100%);
    background: linear-gradient(to right,  #178dbb 0%,#57bdbf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#178dbb', endColorstr='#57bdbf',GradientType=1 );
}

.fb-like-section.section-v-gradient-header .padded-multiline {
    position: absolute;
    top: 50%;
    left: 230px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.padded-multiline {
    line-height: 46px;
    display: table-row-group;
}

.fb-like-section.section-v-gradient-header .gradient {
    margin-left: 15px;
    background: #57bdbf;
    background: -moz-linear-gradient(top,  #57bdbf 0%, #178dbb 100%);
    background: -webkit-linear-gradient(top,  #57bdbf 0%,#178dbb 100%);
    background: linear-gradient(to bottom,  #57bdbf 0%,#178dbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57bdbf', endColorstr='#178dbb',GradientType=0 );
    height: 150px;
    width: 150px;
    float: left;
}

@media (max-width: 768px) {
    .fb-like-section.section-v-gradient-header .padded-multiline {
        left: 200px;
    }
}


.fb-like-section.section-v-gradient-header .gradient .gradient-icon {
    margin: 0 55px;
    top: 50%;
    display: block;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.big-button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 8px 25px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;

    background: #fc5c7d; 
    background: -moz-linear-gradient(left, #fc5c7d 0%, #7c7deb 50%, #b76eb9 100%);
    background: -webkit-linear-gradient(left, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    background: linear-gradient(to right, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5c7d', endColorstr='#b76eb9',GradientType=1 );
}

.big-button:hover,
.big-button:focus {
    color: white;
}

.big-button.loading {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* /news/view */
.news-head {
    width: calc(100% - 100px);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.news-head-img {
    background-size: cover;
    width: 100%;
    height: 460px;
    position: relative;
    background-position: left center;
}

@media (max-width: 992px) {
    .news-head-img {
        background-position: center center;
    }
}

.news-right {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    width: 200px;
    position: absolute;
    height: 80%;
    right: -100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.news-right .tags {
    height: 50%;
    width: 100%;
    background: #ffffff;
    padding: 30px;
}

.news-right .tags .news-cats {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.news-right .tags .news-cats span {
    background: transparent;
    border: 1px solid #9e9e9e;
    color: #9e9e9e;
    margin: 5px 2px;
}

.news-right .social {
    background: #1c79e1;
    height: 50%;
    width: 100%;
    position: relative;
}

@media (min-width: 992px) {
    .news-right .tags .news-cats {
        height: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.news-right .tags .news-cats {
    text-align: center;
}

@media (max-width: 992px) {
    .news-head-img {
        width: 100%;
    }

    .news-head {
        width: 100%;
    }

    .news-head,
    .news-right {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .news-right {
        width: 100%;
        height: auto;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .news-right .social {
        height: 120px;
    }

    .news-right .tags,
    .news-right .social {
        width: 100%;
        float: left;
        position: relative;
    }
}

.news-content {
    width: 70%;
    margin: 0 auto 40px auto;
    text-align: justify;
    font-size: 12pt;
}

@media (max-width: 992px) {
    .news-content {
        width: 100%;
    }
}

.news-author {
    padding: 20px;
    color: #6d6d6d;
    font-style: italic;
    font-size: 12px;
}

.news-content h1 {
    padding: 40px 0 20px 0;
    color: #6a82fb;
    font-size: 26px;
    font-weight: bolder;
}

.news-h-separator {
    width: 50%;
    height: 1px;
    background: #c8c1c1;
    margin-bottom: 30px;
}

.news-content p {
    text-indent: 30px;
}

.news-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px;
}

.next-news {
    margin-top: 50px;
}

.next-news-tile {
    margin: 20px 0;
}

.next-news-tile a {
    display: block;
}

.next-news-tile .img {
    display: block;
    background-size: cover;
    background-position: center center;
    width: calc(50% - 40px);
    height: 150px;
    float: left;
    margin-right: 20px;
}

.next-news-tile a h3 {
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.next-news-tile a h3:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 1px;
    background: #c8c1c1;
    display: inline-block;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    -ms-transition: width 0.8s;
    -o-transition: width 0.8s;
    transition: width 0.8s;
}

.next-news-tile:hover a h3:before {
    width: 30%
}

.next-news-tile:hover a h3,
.next-news-tile:focus a h3 {
    color: #464646;
}

.next-news-tile:hover a p,
.next-news-tile:focus a p {
    color: #515151;
}

.next-news-tile a p {
    color: #939393;
    font-size: 12px;
    margin-left: 5px;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.next-news-tile a:hover,
.next-news-tile a:focus {
    text-decoration: none;
}

.fb-like {
    top: 50%;
    left: 50%;
    position: absolute !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gallery {
    margin: 40px 0 70px 0;
}

.gallery img {
    display: block;
    height: 490px;
    padding: 0 15px;
    position: relative;
}

@media (max-width: 768px) {
    .gallery img {
        padding: 0;
    }
}

.gallery img.slick-slide {
    outline-width: 0;
    cursor: pointer;

    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -webkit-transition: filter 1s;
    -moz-transition: filter 1s;
    -ms-transition: filter 1s;
    -o-transition: filter 1s;
    transition: filter 1s;
    -webkit-transition: -webkit-filter 1s;
    -moz-transition: -webkit-filter 1s;
    -ms-transition: -webkit-filter 1s;
    -o-transition: -webkit-filter 1s;
    transition: -webkit-filter 1s;
}

.gallery img.slick-slide:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

.gallery img.slick-center {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    cursor: -webkit-grab;
}

.social-friends {
    position: relative;
    height: 150px;
    width: 550px;
    border: 2px solid #6a82fb;
    right: 0;
    margin: 50px 0 0 0;
    padding: 0;
}

.social-friends-wrapper {
    width: 740px;
    position: relative;
    margin: 0 auto;
}

.social-friends-wrapper .padded-multiline {
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    float: right;
    position: absolute;
    right: 0;
}

.social-friends-wrapper .padded-multiline h3.gradient-blue-heading {
    background: #fc5c7d; 
    background: -moz-linear-gradient(left, #fc5c7d 0%, #7c7deb 50%, #b76eb9 100%);
    background: -webkit-linear-gradient(left, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    background: linear-gradient(to right, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5c7d', endColorstr='#b76eb9',GradientType=1 );
}

@media (max-width: 800px) {
    .social-friends-wrapper .padded-multiline {
        display: none;
    }

    .social-friends-wrapper {
        width: 450px;
    }

    .social-friends {
        border: none;
        width: 450px;
    }
}

/* Contact */
.contact-box {
    margin: 50px;
    padding: 40px 20% 80px 40px;
    position: relative;
    width: calc(100% - 300px);
}

.contact-box,
.contact-right {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.contact-box input,
.contact-box textarea {
    border-radius: 0;
}

.contact-box label {
    display: none;
}

.contact-box button {
    border-radius: 0;
    color: white;
    border: none;
    padding: 3px 50px;
}

.contact-box form {
    margin-top: 30px;
}

.contact-box button,
.contact-right {
    background: #fc5c7d; 
    background: -moz-linear-gradient(left, #fc5c7d 0%, #7c7deb 50%, #b76eb9 100%);
    background: -webkit-linear-gradient(left, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    background: linear-gradient(to right, #fc5c7d 0%,#7c7deb 50%,#b76eb9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5c7d', endColorstr='#b76eb9',GradientType=1 );
}

.contact-right {
    width: 300px;
    position: absolute;
    height: 80%;
    right: -150px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-right .address {
    height: 50%;
    width: 100%;
    background: #ffffff;
    color: #797979;
    letter-spacing: 0.5px;
}

.contact-right .email {
    height: 50%;
    width: 100%;
}

.contact-right .address,
.contact-right .email {
    padding: 80px 40px 0 40px;
}

.contact-right .address .header {
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #8d8d8d
}

.contact-right .address .indent-address {
    padding-left: 20px;
    font-size: 0.9em;
}

.contact-right .email {
    color: white;
}

.contact-right .email .email-bigger {
    font-size: 1.2em;
}

@media (max-width: 992px) {
    .contact-box {
        width: 100%;
        margin: 0px 0 90px 0;
        padding-bottom: 90px;
    }

    .contact-right {
        width: 100%;
        height: 120px;
        position: relative;
        bottom: -110px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        left: 0;
    }

    .contact-right .email,
    .contact-right .address {
        width: 50%;
        float: left;
        padding: 0;
        height: 100%;
        background: white;
        color: black;
    }

    .contact-right .email {
        padding-top: 48px;
    }
}

.contact-box h2 {
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0;
    color: #a8a8a8;
    font-weight: 600;
}

.contact-box input[type=checkbox] {
    display: none;
}

.contact-box .contact-purpose {
    text-transform: uppercase;
    padding: 5px 20px 3px 20px;
    margin-right: 10px;
    border: 1px solid #8d8d8d;
    font-size: 12px;
    color: #8d8d8d;
    display: inline-block;
}

.contact-box input[type=checkbox]:checked + label {
    border-color: #6a82fb;
}

/* category */
.no-content {
    color: #8d8d8d;
    padding: 40px;
}

.section-category {
    margin-top: 50px;
}

/* event homepage */
.event-wrapper {
    height: 100%;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .event-wrapper {
        margin-top: 55px;
    }

    .event-gradient {
        height: 100%;
    }
}

.event-gradient {
    position: absolute;
    height: calc(100% + 100px);
    top: -45px;
    width: 2000%;
    z-index: -14;
    left: -100px;
    background: #158ebb;
    background: -moz-linear-gradient(left,  #158ebb 0%, #59bdbf 70%);
    background: -webkit-linear-gradient(left,  #158ebb 0%,#59bdbf 70%);
    background: linear-gradient(to right,  #158ebb 0%,#59bdbf 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#158ebb', endColorstr='#59bdbf',GradientType=1 );
}

@media (max-width: 768px) {
    .event-gradient {
        width: 100% !important;
        left: 0;
        right: 0;
    }
}

.event-wrapper .news {
    height: 230px;
}

.event-wrapper-list .news {
    height: 350px;
}

.event-wrapper .first {
    margin-top: 70px;
}

.event-wrapper .news .title {
    bottom: 32px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 100px);
    position: relative;
}

.event-wrapper-list .news .title {
    display: inline-block !important;
}

.event-wrapper-list h4 {
    font-size: 24px;
    color: gray;
    margin: 0 0 20px 60px;
}

.event-wrapper .header {
    position: absolute;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 20px;
    text-indent: 20px;
    width: calc(100% - 30px);
}

.event-wrapper .date {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: bold;
    top: -35px;
    left: 57px;
    display: inline-block;
}

.event-wrapper .date-and-title {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 0;
}

.events-more {
    display: inline-block;
    color: white;
    padding: 5px 15px 3px 15px;
    border: 1px solid white;
    text-transform: uppercase;
    margin-left: 15px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.events-more:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.events-more:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.events-more:hover,
.events-more:focus {
    color: #3aa7bd;
    text-decoration: none;
}

/* event */
.event-head .news-right {
    background: #178dbb;
    background: -moz-linear-gradient(left,  #178dbb 0%, #57bdbf 100%);
    background: -webkit-linear-gradient(left,  #178dbb 0%,#57bdbf 100%);
    background: linear-gradient(to right,  #178dbb 0%,#57bdbf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#178dbb', endColorstr='#57bdbf',GradientType=1 );

    color: white;
    text-align: center;
    font-size: 20px;
}

.event-head .news-right .place{
    padding-bottom: 15px;
}

.event-head .date {
    padding: 100px 0 40px 0;
}

@media (max-width: 992px) {
    .event-head .date {
        padding: 20px 0;
    }
}

.news-content h1.h1-event {
    color: #1e92bc;
}

/* comics */
.big-button.comic-button.next {
    float: right;
}

.big-button.comic-button.previous {
    float: left;
}

.comic-buttons {
    padding: 30px 0 40px 0;
}